// colors
$red: #f15932;
$red-darker: #fe3e31;
$bg-light-gray: #ececec;
$bg-gray: #e6edec;
$green: #66cf4d;

// spacing
$body-padding-small-device: 10px;
$body-padding-medium-device: 6%;
$main-padding-small-device: 20px;
$main-padding-medium-device: 100px;
