.testimonials {
  width: 100%;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  gap: 10px;

  @include md() {
    flex-direction: row;
    padding-right: 0;
  }

  .testimonials__left--side {
    flex: 1;
    min-width: 300px;
    min-height: 432px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 45px 20px;
    color: white;
    background-color: #313131;
    h3 {
      font-size: 28px;
      font-weight: 600;
      line-height: 28px;
      text-align: center;
    }
    .score__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 40px;
      .webwinkel--keur {
        display: flex;
        flex-direction: column;
        gap: 5px;
        img {
          width: 130px;
          height: 50px;
          background-color: white;
        }
        .stars {
          svg path {
            fill: $red-darker;
            font-size: 21px;
            font-weight: 900;
          }
        }
      }

      .score {
        font-size: 38px;
        font-weight: 700;
        line-height: 38px;
        padding: 20px;
        border-radius: 10px;
        background-color: $red-darker;
      }

      p {
        @include bodyFontSemiBold();
      }
    }
  }

  .reviews__wrapper > .swiper {
    position: relative;
    //width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3px;
    .reviews {
      position: relative;
      width: 100%;
      display: flex;
      .review__card {
        height: 340px;
        width: 320px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 50px 20px;

        @include md() {
          width: 30%;
        }

        .reviewer {
          @include bodyFontExtraBold();
          margin-top: 20px;
        }
      }
    }
  }
}
